@font-face {
    font-family:GOODDP;
    src: url("./Fonts/FH-GoodDogPlain\ WTT/GOODDP__.ttf");
    /* src: url("/assets/fonts/Bartleen\ SANS.otf"); */
}
div{
    display: flex;
    justify-content: space-around;
}
h1 {
    font-family:GOODDP;
    border: 1px black solid;
    /* height: fit-content;
    width: fit-content; */
    padding: 30px 50px;
    color: white;
    box-shadow: 5px 5px 15px black;
    background: linear-gradient(45deg, yellow, black, red,blue);
    border-radius: 20px;
}


 

